# Sets

In [1]:
s = {}

In [8]:
type(s) # since no element is present in {} type returned will be dict

dict

In [6]:
s1 = {1,2,3,4}

In [9]:
type(s1) # when some linear elements are present in {}, type returned will be set

set

## How set is different 

* Set is a collection which which be able to store the informations but it will be always store only unique information.
* It will remove duplicate information from the variable or dataset

In [14]:
s3 = {1,1,12,3,3,3,4,5,5,5,"Payas","PAYAS","Payas",2+3j,2-3j,2+3j,5.0,5.25,5.25,6.3,True,False,True}

In [18]:
s3 # TRUE will be removed since internally True is stored as 1 so it is considering 1 and True same

{(2+3j), (2-3j), 1, 12, 3, 4, 5, 5.25, 6.3, False, 'PAYAS', 'Payas'}

In [10]:
s2 = {1,1,12,3,3,3,4,5,5,5,55,523,34,3,45,6,67}

In [16]:
s2 # set will remove all the duplicate elements and arrange those in ascending order if only integer is present

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

## Typecasting of set

#### if you want to remove the duplicate from a data set simply convert it into set to get only unique values

In [23]:
# typecasting a set into list
l = list(s2)

In [24]:
l

[1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55]

In [22]:
# typecasting a set into tuple
t = tuple(s2)

In [25]:
t

(1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55)

In [26]:
# typecasting a list into set
set(l)

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [27]:
# typecasting a tuple into set
set(t)

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [29]:
s4 = {1,2,3,4,[1,2,3,4]}

'''
1. set will not store the list because list is mutable. 
2. Also whenever something is stored inside set it findes the unnique value and remove duplicates.
3. it stores those unique value defined by hashable index
'''

TypeError: unhashable type: 'list'

In [30]:
s5 = {1,2,3,4,(1,2,3,4)}

In [32]:
s5 # Set can store tuple as tuple is immutable

{(1, 2, 3, 4), 1, 2, 3, 4}

In [33]:
s_5 = {1,2,3,4,(1,2,3,4),(1,2,3,4)}

In [34]:
s_5

{(1, 2, 3, 4), 1, 2, 3, 4}

In [35]:
s2

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [42]:
s2[0]

# With set indexing is not possible.
# information/element at particulat index cannot be extracted
# Reason: set creates hashable index internally and it does not store elements sequentially.

TypeError: 'set' object is not subscriptable

In [43]:
s2[::-1]

# slicing is not possible in set
# Reason: set creates hashable index internally and it does not store elements sequentially.

TypeError: 'set' object is not subscriptable

In [44]:
for i in s2:
    print(i)

1
34
3
4
5
6
67
523
12
45
55

## set functions

In [45]:
s2.add(26)

In [46]:
s2

{1, 3, 4, 5, 6, 12, 26, 34, 45, 55, 67, 523}

In [47]:
len(s2)

12

In [48]:
s2.pop()

1

In [49]:
s2

{3, 4, 5, 6, 12, 26, 34, 45, 55, 67, 523}

In [50]:
s2.pop()

34

In [51]:
s2.pop()

3

In [52]:
s2

{4, 5, 6, 12, 26, 45, 55, 67, 523}

In [55]:
s2.clear()

In [54]:
s2

set()

In [56]:
s_1 = {1,2,3,4}
s_2 = {1,2,3,5}

In [60]:
s_1.difference(s_2) # returns element which is in s_1 but not in s_2

{4}

In [61]:
s_2.difference(s_1) # returns element which is in s_2 but not in s_1

{5}