# print() - Different ways to print output in o/p console

1. Regular approach
2. f string
3. .format()

In [9]:
# 1.Regular approach
print("Hello World")

Hello World

In [10]:
# 1.Regular approach
print(123)

123

In [11]:
# 1.Regular approach
print('Hello World')

Hello World

In [12]:
name = "Payas Nimje"
age = 26

In [13]:
# 1.Regular approach
print("My age is:",age)

My age is: 26

In [14]:
# 1.Regular approach
print("My name is",name,"and age is",age)

My name is Payas Nimje and age is 26

In [16]:
# 2.f string
print(f"My name is {name} and age is {age}")

My name is Payas Nimje and age is 26

In [19]:
# 3. .format()
print("My name is {} and age is {}".format(name, age))

#problem of this approach is if name and age is interchanged in .format() then the output will be incorrect
print("My name is {} and age is {}".format(age, name))

My name is Payas Nimje and age is 26
My name is 26 and age is Payas Nimje

In [23]:
# 3. .format()
# to prevent above mistake the following way is used

print("My name is {full_name} and age is {current_age}".format(full_name = name, current_age = age))
print("My name is {full_name} and age is {current_age}".format(current_age = age, full_name = name))

# in above method even if order of parameters gets interchanges in .format() the result will be same

My name is Payas Nimje and age is 26
My name is Payas Nimje and age is 26

In [24]:
# Task - Print the output in following way
# "My age is 32 and i have completed: my degree of BE with the name of Krish Naik"

name = "Payas Nimje"
age = 26
degree = "BE"

In [25]:
# f string
print(f"My age is {age} and i have completed: my degree of {degree} with the name of {name}")

My age is 26 and i have completed: my degree of BE with the name of Payas Nimje

In [27]:
# .format()
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age, degree, name))
print("My age is {AGE} and i have completed: my degree of {DEGREE} with the name of {NAME}".format(AGE=age, DEGREE=degree, NAME=name))

My age is 26 and i have completed: my degree of BE with the name of Payas Nimje
My age is 26 and i have completed: my degree of BE with the name of Payas Nimje

## Control Flow
### Decision Making statements
   * It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
   * Structure of decision making evaluate several expressions that provide True or False as a result.
   * It is up to you to decide which type of action want to take and execute the statements based upon True and False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [30]:
# If statement
age = 18
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [31]:
age = 17
if age<18:
    print("you are not eligible to vote")

you are not eligible to vote

In [33]:
# input() takes the input from user
# by default the input() return type is str
age = input("Enter your age:") # input() takes the input from user

Enter your age: 26

In [34]:
type(age)

str

In [35]:
name = input("Enter your name:")

Enter your name: Payas Nimje

In [36]:
type(name)

str

In [39]:
# use typecasting to change numerical value like age from str type to int type
age_1 = int(input("Enter your age:"))

Enter your age: 26

In [40]:
type(age_1)

int

In [49]:
##Task 1
## Take a input of age
## check whether age >=18 and age<=45
## display a message you are young blood

In [46]:
your_age = int(input("Enter your age:"))
if your_age>=18 and your_age<=45:
    print("You are young blood")

Enter your age: 26

You are young blood

In [44]:
26>=18 and 26<=45

True

In [47]:
your_age = int(input("Enter your age:"))
if your_age>=18 and your_age<=45:
    print("You are young blood")

Enter your age: 55

In [48]:
# if else statements
your_age = int(input("Enter your age:"))
if your_age>=18 and your_age<=45:
    print("You are young blood")
else:
    print("Thank you. We'll let you know.")

Enter your age: 55

Thank you. We'll let you know.

In [51]:
## Task 2
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

In [54]:
price = int(input("Enter the product price:"))
if price>1000:
    print("Discounted Price is: {}".format(price*0.8))
else:
    print("Discounted Price is: {}".format(price*0.7))

Enter the product price: 10

Discounted Price is: 7.0

In [56]:
## Task 3
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount
## print lets drink tea

In [60]:
# elif statement with nested if
price = int(input("Enter the product price:"))
if price>3000:
    if price==4000:
        print("Congratulations! You get a trip to Goa")
    print("Discounted Price is: {}".format(price*0.8))
elif price>2000 and price<=3000:
    if price==2999:
        print("You will get additional gift")
    print("Discounted Price is: {}".format(price*0.7))
elif price>=100 and price<=2000:
    print("Discounted Price is: {}".format(price*0.6))
else:
    print("Lets Drink Tea")

Enter the product price: 5

Lets Drink Tea

In [65]:
# Single statement Suites
val=int(input('Enter the number'))
if(val>=999):print("Discount available is 10%")
else:
    print("No discount available")

Enter the number 900

No discount available

## Loops statements
1. while loop
2. for loop
3. nested loops
4. Loop control( break, continue, pass)

### While loop

In [66]:
# while loop while-else
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1 
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [67]:
### Atm machine with 1000 rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

### For Loop

In [68]:
lst=["Krish",1,2,3,4,"apple","banana"]

In [69]:
type(lst)

list

In [70]:
lst[4]

4

In [71]:
lst

['Krish', 1, 2, 3, 4, 'apple', 'banana']

In [72]:
for x in lst:
    print(x)

Krish
1
2
3
4
apple
banana

In [73]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [77]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is Cherry")

Mango
Cherry
The fruit is Cherry
Apple
Papaya
Banana

In [78]:
fruit = "Mango"
for x in fruit:
    print(x)

M
a
n
g
o

In [79]:
fruit[2]

'n'

In [80]:
## range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [81]:
for i in range(0,7,2):
    print(i)

0
2
4
6

In [83]:
# Nested loops
# Triangle pattern
n=7

for i in range(0,n):
    for j in range(0, i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [84]:
## Loops (while, for) to print stars/pyramid

In [85]:
# Right sided triangle
def Rt_triangle(n): # defining function to print stars
    # defining outer for loop to operate on row     
    for i in range(0,n):
        #defining inner loop to operate on column
        for j in range(0,i+1):
            print("* ", end="")
        print("\r") # \r is carriage return. it moves the cousor to the left most (front) side

n=5
Rt_triangle(n)

*
* *
* * *
* * * *
* * * * *

In [86]:
# left sided triangle

def Lt_triangle(n): # defining function to print stars
    # defining var k that will handle the spaces
    k = 2*n-2
    # defining outer for loop to operate on row     
    for i in range(0,n):
        #defining 1 st inner loop to handle spaces in the pattern
        for s in range(0,k):
            print(end=" ")
        k=k-2
        #defining inner loop to operate on column
        for j in range(0,i+1):
            print("* ", end="")
        print("\r") # \r is carriage return. it moves the cousor to the left most (front) side
        
n=5
Lt_triangle(n)

        *
      * *
    * * *
  * * * *
* * * * *

In [87]:
# triangle

def triangle(n): # defining function to print stars pattern
    # defining var k that will handle the spaces
    k = n-1
    # defining outer for loop to operate on row     
    for i in range(0,n):
        #defining 1 st inner loop to handle spaces in the pattern
        for s in range(0,k):
            print(end=" ")
        k=k-1
        #defining inner loop to operate on column
        for j in range(0,i+1):
            print("* ", end="")
        print("\r") # \r is carriage return. it moves the cousor to the left most (front) side
        
n=5
triangle(n)

    *
   * *
  * * *
 * * * *
* * * * *

In [1]:
## solution 2
n = 5
for i in range(n):
    print(" "*(n-i),end='')
    for j in range(i*2+1):
        print("*",end="")
    print()

     *
    ***
   *****
  *******
 *********

In [88]:
##Loop controls
## Break and continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [90]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)
    
# the moment condition is satisfied, loop is terminated

Mango
Cherry
The fruit is apple

In [91]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)
    
#  Even if the condition is satisfied, continue the loop

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [93]:
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

#  when the condition is satisfied, skip that step and continues the loop

Mango
Cherry
The fruit is apple
Papaya
Banana